<template name="videoChat">
  <div id="local-media"></div>
  <div id="remote-media"></div>
  <form id="js-join-video-chat-room">
    <input type="text" name="text" placeholder="Enter a room name" />
  </form>
  {{#unless inPreviewMode}}
    <button id="js-preview-camera">preview</button>
  {{/unless}}
  {{#if inPreviewMode}}
    {{#unless localMediaMuted}}
      <button id="js-mute-local-media">mute</button>
    {{/unless}}
    {{#if localMediaMuted}}
      <button id="js-unmute-local-media">unmute</button>
    {{/if}}
  {{/if}}
</template>
